/* ------------värit-------------
tumma harmaa #1C1C1C
tummempi harmaa #151515

*/

body {
  margin: 0;
  color: #1C1C1C;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/pallo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* -------------taustalaatikot------------*/

.tausta{
  max-height:100%;
}

.tapahtuma_bg, .instagram{
  width: 407px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: solid 1px  black;
  padding-bottom: 10px;
}

.tapahtuma_bg{
  margin-top: 100px;
}

.kirjaudu_bg{
  margin-top: 100px;
  width: 407px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: solid 1px  black;
  padding: 20px;
}

.pelaajat_bg {
  margin-top: 100px;
  width: 407px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px  black;
  padding: 10px;
}

.flex{
  display: flex;
  justify-content: space-between;
}


/*----------tekstityylit---------- */

h2, h3, h4 {
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
}

h2{
  font-size: 50px;
  margin-bottom: 20px;
}

h3{
  font-size: 35px;
}

h4{
  font-size: 25px;
}

.tiedot{
  background-color:#1C1C1C;
  padding: 5px;
  margin-top: 5px;
  color: rgba(255, 255, 255, 1);
  width: 100%;
  display: block;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.toimihenkilot .nimi{
  font-weight: 700;
}

.toimihenkilot{
  margin-left: 10px;
  margin-top: 20px;
}

.toimihenkilot, td{
  text-align: left;
  padding: 5px;
}

.valikko{
  position:fixed;
  left:0px;
  top:0px;
  width: 100%;
  z-index: 10;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lohko{
  margin-top: 40px;
  text-align: left;
  padding: 5px;
}

.upelaaja{
  text-align: left;

}

.content{
  width: 640px;
  margin:auto;
}

.instagram{
  margin-top: 5px;
}

.tapahtuma_main {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}


/* ------------tausta-animaatio--------------*/

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*-----------tapahtumasivu------------*/

.tapahtuma_tyyppi {
  color:#FFC312;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.tapahtuman_nimi{
  color: white;
}

.tapahtuma_otsikko{
  background-color: #151515;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.tapahtuma_reg{
  display:flex;
  text-align: left;
  padding: 10px;
  padding-bottom: 0;
}

.tapahtuma_paikka{
  margin-top: 10px;
  width: 230px;
  margin-bottom: 15px;
}

.tapahtuma_aika{
  width: 170px;
}

.pvm{
  font-size: 30px;
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
}

.aika{
  font-size: 20px;
  font-weight: 600;
}

.kartta{
  margin-top: 34px;
  width: 100px;
}

.saainfo{
  width: auto;
  height: 60px;
  margin-right: 30px;
}
.saanlataus {
  margin-left: 50px;
  font-size: 80%;
}

.weather{
  width: 90px;
  height: 90px;
}

.lampotila{
  width: auto;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.hide-true  {
  display: none;
}

.google_map{
  width: 300px;
  height: 300px;
  margin-top: 10px;
}

.instagram{
  width: 407px;
  height: 300px;
}

.hidden{
  display: none;
}

.ig_img {
  width: 100px;
  height: auto;
}

.ig_img img {
  width: 100%;
}

/* buttonit */

.flat_button {
  position: relative;
  vertical-align: top;
  height: 35px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  border-radius: 4px;
}

.flat_button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.yellow-button {
  background: #f1c40f;
  border-bottom: 2px solid #e2b607;
  -webkit-box-shadow: inset 0 -2px #e2b607;
  box-shadow: inset 0 -2px #e2b607;
}

.green-button {
  background: #63c000;
  border-bottom: 2px solid #5cb201;
  -webkit-box-shadow: inset 0 -2px #5cb201;
  box-shadow: inset 0 -2px #5cb201;
}

.red-button{
  background: #e3421c;
  border-bottom: 2px solid #e3421c;
  -webkit-box-shadow: inset 0 -2px #e3421c;
  box-shadow: inset 0 -2px #e3421c;
}

.silver-button{
  background: #bdc3c7;
  border-bottom: 2px solid #acb2b7;
  -webkit-box-shadow: inset 0 -2px #acb2b7;
  box-shadow: inset 0 -2px #acb2b7;
}

.in_btn{
  margin-right: 5px;
  margin-top: 30px;
}

.kirjaudu_btn{
  margin: 3px;
}

.pelaaja_napit {
  margin-left:auto;
  margin-right:auto;
  margin-top: 6px;
}


/* joulukalenterin tyylit */

.calendar {
  margin-left: auto;
  margin-right: auto; 
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

.door > .door-opened > img,
.door > .door-closed > img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}

.door {
  height: 11rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.door > .day {
  padding: 1rem;
  flex: 1;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  position: absolute;
  bottom: -1rem;
  width: 11rem;
  text-align: center;
}

/* ----------------pelaajasivut------------*/

.pelaajataulukko td, .pelaajataulukko th {
  text-align: left;
  padding: 5px;
}

.pelaaja_img {
  width:184px;
  height: 183px;
  z-index: 0;
  margin-top: -1px;
  border: solid 1px  black;
}

.pelaaja_img > img{
  width:182.5px;
  height: 148px;
  object-fit: cover;
  margin-left: -0.5px;
}

.pelaaja_img_isompi{
  width:184px;
  height: 183px;
  z-index: 0;
  margin-top: -1px;
  border: solid 1px  black;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.pelaaja_img_isompi > img{
  width:182.5px;
  height: 182px;
  object-fit: cover;
  margin-top: -0.5px;
}

.pelaajannimi_box{
  z-index: 8;
}

.pelaaja_ruutu{
  width: 190px;
  text-align: left;
  margin-right: 0px;
  margin-top: 20px;
  position: relative;
}

.pelinumero_box{
  font-size: 20px;
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
  padding:5px;
  background-color: #1C1C1C;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color:white;
  text-align: center;
}

.pelinro_asemointi{
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 5;
  margin-right: 5px;
}

.pelaajannimi{
  width: 183px;
  height: 35px;
  background-color: #1C1C1C;
  display: block;
  text-align: left;
  padding-top: 7px;
  padding-left: 10px;
  margin-top: -35px;
  color: white;
}

.kaksipalstaa{
  width: 183px;
  display: flex;
  flex-direction: row;
}

.flexpalstat{
  display: flex;   
  flex-wrap: wrap;
}

.pelinumero{
  font-size: 26px;
  margin-right: 5px;
  font-family: 'Black Ops One', Arial, Helvetica, sans-serif;
  padding:5px;
  padding-left: 10px;
}


/*-----------responsiivisuus------------------*/

@media (max-width: 500px) {
  .pelaajat_bg, .tapahtuma_bg {
    width: 90%;
  }

  .tapahtuma_reg{
    display: inline;
    padding-top: 0;
    padding-left: 10px;
    margin-bottom: 0px;
  }

  .tapahtuma_paikka {
    width: 100%;
  }

  .tapahtuma_aika, .tapahtuma_paikka, .kartta{
    padding-top: 0px;
    padding-left: 10px;
  }

  .calendar {
    padding: 0.5rem;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
  }

  .door > .door-opened > img,
  .door > .door-closed > img {
    width: 100%;
    height: 100%;
  }

  .door > .day {
  width: 10.5rem;
  }

  h3{
  font-size: 26px;
  }

  .in_button {
  margin-top: 5px;
  }

  .kartta_btn{
  margin-top: 0px;
  }

}