body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/pallo.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.tausta{
  max-height:100%;
 
}

.valikko{
  position:fixed;
  left:0px;
  top:0px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  margin: 3px;
}

.content{
  width: 640px;
  margin:auto;
}

.tapahtuma_bg, .instagram{
  width: 407px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: solid 1px  black;
}

.tapahtuma_bg{
  margin-top: 100px;
}

.pelaajat_bg {
  margin-top: 100px;
  width: 407px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px  black;
  padding: 10px;
}

.instagram{
  margin-top: 5px;
}

.tapahtuma_main {
  width: 405px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.tapahtuma_tyyppi {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding-right: 10px;
}

.tapahtuman_nimi{
  color: white;
}

.tapahtuma_otsikko{
  background-color: black;
  text-align: left;
  padding: 5px;
}

.tapahtuma_reg{
  display:flex;
  text-align: left;
  padding: 10px;
}

.tapahtuma_paikka{
  margin-top: 10px;
  width: 230px;
  margin-bottom: 15px;
}

.tapahtuma_aika{
  width: 170px;
}

.pvm{
  font-size: 30px;
  font-weight: 500;
}

.aika{
  font-size: 20px;
  font-weight: 500;
}

.in_button{
  width: 60px;
  background-clip: gray;
  margin-right: 5px;
  margin-top: 30px;
}

.kartta{
  width: 50px;
}

.saainfo{
  width: auto;
  height: 60px;
  margin-right: 30px;
}

.weather{
  width: auto;
  height: 100%;
}

.flex{
  display: flex;
  justify-content: space-between;
}

.hide-true  {
  display: none;
}

.google_map{
  width: 300px;
  height: 300px;
  margin-top: 10px;
}

.instagram{
  width: 407px;
  height: 300px;
}

.ig_img {
  width: 100px;
  height: auto;
}

.ig_img img {
  width: 100%;
}

.pelaajataulukko td, .pelaajataulukko th {
  text-align: left;
  padding: 5px;
}

.pelaaja_napit {
  padding-right: 20px;
  
}

.pelaaja_napit button{
  margin-left:0;
}

.pelaaja_img{
  width:170px;
  height: 170px;
  border: solid 1px  black;
}

.kaksipalstaa{
  width: 170px;
  diplay: flex;
  flex-direction: row;
}

.flexpalstat{
  display: flex;   
  flex-wrap: wrap;
}

.pelaaja_ruutu{
  width: 170px;
  text-align: left;
  margin-right: 5px;
  margin-top: 10px;
}

.pelaajannimi{
  width: 170px;
  height: 50px;
  background-color: black;
  display: block;
  text-align: center;
  padding-top: 7px;
  margin-top: -35px;
  color: white;
}

.pelinumero{
  font-weight: 600;
  font-size: 30px;
  margin-right: 5px;
}

@media (max-width: 660px) {
  .content {
    width: 90%;
  }

}



